<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "www.mobiletrain.org /TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="www.mobiletrain.org ">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no,email=no"/>
	<title>食客</title>
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/select.css">
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/common.js"></script>
	<script>
	//适配
		$(window).on('resize', function () {
			var w = $(window).width();
	    	$('html').css('font-size',(w/375*100) + 'px') ;
	 	}).triggerHandler('resize') ;
	</script>

	
</head>

  <body>

    <header>
		<div class="location">
            <img class="loc_img" src="image/icon/pos.png">
            <div class="city_choose">北京<img src="image/icon/down.png"></div>
        </div>
        <div class="search">
            <img src="image/icon/search.png">
            <input type="text" placeholder="搜索美食、餐厅">
        </div>
    </header>
    <<div class="city_change">
		<li class="active"><a href="/food-intro/BJ.action">北京</a></li>
		<li><a href="/food-intro/XA.action">西安</a></li>
		<li><a href="/food-intro/CQ.action">重庆</a></li>
		<li><a href="/food-intro/GZ.action">广州</a></li>
	</div>

      <% 
        function GetJLen (Json) {
            var len = 0
            for (var i in Json) {
                len += 1;
            }
            return len;
        }
        
            var info = JSON.parse(ret);
            var info_len = GetJLen(info);
        
        %>

    <div class="wrapper">


        <%
            for(var k in info) {
        %>
            <div class="section">
                <div class="title">
                    <p><%=k%></p>
                    <a href="/select-detail/<%=k%>.action"><img src="/image/icon/open.png"></a>
			    </div>


                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                <%
                    var shop = info[k];

                    for (var i in shop) {

                        var pic_main = JSON.parse(shop[i].pic_main);
                %>
                    <a href="/shop-detail/<%=shop[i].id%>.action" class="swiper-slide">
						<div class="cd">
							<img src="/upload/<%=shop[i].uid%>/<%=pic_main[1]%>">
                            <p><%=shop[i].name%></p>
                            <p><span class="active"><%=shop[i].cost%></span>元／位</p>
						</div>
					</a>
                <%       
                    }
                %>

                    </div>
                </div>
            </div>
        <%

            }
         %>



    </div>


  

    <footer>
		<li>
			<a href="/food-intro/BJ.action">
				<img src="/image/icon/find_active.png">
				<p class="active">发现</p>
			</a>
		</li>
		<li>
			<a href="/select-shop.action">
				<img src="/image/icon/select.png">
				<p>精选</p>
			</a>
		</li>
		<li>
			<a href="user.html">
				<img src="/image/icon/user.png">
				<p>我的</p>
			</a>
		</li>
	</footer>



	<!-- Swiper JS -->
	<script src="js/swiper.min.js"></script>

	<!-- Initialize Swiper -->
	<script>
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			slidesPerView: 'auto',
			paginationClickable: true,
//        grabCursor : true,
//        setWrapperSize :true,
			spaceBetween: 30
		});
	</script>
	<script>
		$('.location').click(function(){
			$('.city_change').toggleClass("city_open");
		});
		$('.city_change li').click(function(){
			$('.city_change').hide();
		});
	</script>


  </body>
</html>
