<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "www.mobiletrain.org /TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="www.mobiletrain.org ">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="format-detection" content="telephone=no,email=no"/>
	<title>食客</title>
	<link rel="stylesheet" href="/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/css/common.css">
	<link rel="stylesheet" type="text/css" href="/css/setting.css">
	<script src="/js/jquery-1.9.1.min.js"></script>
	<script src="/js/common.js"></script>
	<script>
	//适配
		$(window).on('resize', function () {
			var w = $(window).width();
	    	$('html').css('font-size',(w/375*100) + 'px') ;
	 	}).triggerHandler('resize') ;
	</script>
</head>

  <body>


    <header>
		<a class="back" href="javascript:history.back(-1)">
			<img src="/image/icon/back.png">
		</a>
		<p>个人资料</p>
	</header>

    <%
        var info = JSON.parse(ret);
    %>

    <div class="wrapper">
		<ul class="user_info">
			<li>
				<p class="info_left"><a href="/pic-change/<%=info.id%>.action">修改头像</a></p>
				<div class="info_right" >
					<img  src="/upload/<%=info.uid%>/<%=info.pic%>" class="user_photo">
					<img src="/image/icon/go.png" class="go">
				</div>
			</li>
			<li>
				<p class="info_left">昵称</p>
				<a class="info_right" href="/nick-change/<%=info.id%>.action">
					<p><%=info.nick%></p>
					<img src="/image/icon/go.png" class="go">
				</a>
			</li>
			<li>
				<p class="info_left">手机号</p>
				<p class="info_right"><%=info.phone%></p>
			</li>
			<li>
				<p class="info_left">密码</p>
				<a class="info_right" href="/pwd-change/<%=info.id%>.action"> 
					<p><%=info.passwd%></p>
					<img src="/image/icon/go.png" class="go">
				</a>
			</li>
		</ul>
	</div>

  </body>
</html>
